<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-09-11T03:15:53Z</date>
	<key>WorkspacePath</key>
	<string>/Users/chrisconner/Desktop/HACodingChallenge-master 2 2/HACodingChallenge.xcodeproj</string>
</dict>
</plist>
